[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbus-fast = "*"
pyserial-asyncio = "*"
uvloop = "*"
aiohttp = "*"
attrs = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.11"
